* {
    font-family: 'Inconsolata', monospace;
    background: black;
    color: white;

    align-items: center;
    align-content: center;
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}