* {
    font-family: 'Inconsolata', monospace;
    background: black;
    color: whitesmoke;

    align-items: center;
    align-content: center;
    text-align: center;
}

.red {
    color: rgb(217, 28, 28);
}

.green {
    color: rgb(39, 168, 39);
}

button {
    font-size: 1em;
    border: 2px solid whitesmoke;
    transition-duration: 0.5s;
}

button:hover {
    background: whitesmoke;
    color: black;
    transition-duration: 0.5s;
}
